.relative-wrapper {
  position: relative;
}

.feed-image {
  max-width: 40em;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.18,.89,.32,1.28);
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(0.3);
  transform-origin: 0 0;
  margin: 3%;
  border-radius: 40px;
  width: 100%;
}

.bottom-image {
  border-radius: 2px;
  width: 100%;
}
