.login-page-grid {
  margin: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . ."
    ". login ."
    ". . .";
    align-items: center;
}

.login-area {
  grid-area: login;
  margin: auto;
  max-width: 30rem;
}
